.categoryLinks {
  display: flex;
  max-width: 77%;
  margin: 150px auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.categoryItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-medium-gray);
  border-radius: 8px;
  width: 350px;
  height: 204px;
}

.categoryItem > img {
  width: 70%;
  max-width: 160px;
  height: auto;
  object-fit: contain;
  margin-top: -40px;
}

.categoryPara {
  color: var(--color-dark-black);
  opacity: 1;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 11px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .categoryLinks {
    max-width: 89%;
    margin: 50px auto;
  }

  .categoryPara {
    font-size: 15px;
    margin-bottom: 5px;
  }
}

@media (max-width: 375px) {
  .categoryLinks {
    flex-direction: column;
    gap: 60px;
  }
}
