.container {
  background-color: var(--color-medium-gray);
  padding-bottom: 100px;
  font-family: var(--font-family-manrope);
}
.GoBackWrapper {
  max-width: 77%;
  margin: 0 auto;
}
.checkoutPage {
  display: flex;
  gap: 32px;
  background-color: var(--color-medium-gray);
  flex-wrap: wrap;
  justify-content: center;
  font-family: var(--font-family-manrope);
  max-width: 77%;
  margin-inline: auto;
  margin-top: 50px;
}

.formSection {
  background: var(--color-white);
  padding: 32px;
  border-radius: 8px;
  flex: 65%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  font-family: var(--font-family-manrope);
}

.formSection h3 {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 24px;
  font-family: var(--font-family-manrope);
}

.billingDivOne,
.shippingDivTwo {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.address {
  max-width: 622.8px;
  width: 100%;
}

.formGroup {
  margin-bottom: 32px;
}

.formGroup h6 {
  font-size: 13px;
  text-transform: uppercase;
  color: var(--color-primary-orange);
  margin-bottom: 16px;
}

.formGroup input,
.radioGroup input {
  display: flex;
  align-items: center;
  width: 309px;
  max-width: 309px;
  margin-bottom: 16px;
  padding: 12px 16px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  font-size: 14px;
  font-family: var(--font-family-manrope);
  accent-color: var(--color-primary-orange);
}

input.address {
  width: 100% !important;
  max-width: 100% !important;
}

input[type="radio"] {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 2px solid var(--color-primary-orange);
  border-radius: 50%;
  margin: 0;
  cursor: pointer;
}

.radioGroup label {
  display: flex;
  gap: 8px;
  flex: 1;
  align-items: center;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
  cursor: pointer;
  width: 309px;
  max-width: 309px;
}

.radioFlex {
  display: flex;
}

.radioGroup {
  margin-left: auto;
}

.formGroup,
.radioLabel {
  font-size: 12px;
  font-weight: bold;
  border: none;
}

.summarySection {
  background: var(--color-white);
  padding: 32px;
  border-radius: 8px;
  max-width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  align-self: start;
  margin-inline: auto;
}

.summarySection h6 {
  text-transform: uppercase;
  font-size: 19.2px;
  margin-bottom: 24px;
}

.summaryItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.summaryItem img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

.summaryItem div {
  flex: 1;
  margin-left: 16px;
}

.summaryItem p {
  margin: 0;
  font-size: 14px;
}

.totals {
  margin-top: 32px;
  border-top: 1px solid #eee;
  padding-top: 24px;
  font-size: 15px;
  text-transform: uppercase;
}

.totals p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.totals span {
  color: var(--color-dark-black);
  opacity: 1;
  font-weight: bold;
}

.totals strong {
  color: var(--color-primary-orange);
  font-size: 18px;
}

.grandTotal {
  margin-top: 20px;
}

.grandTotal span {
  color: var(--color-primary-orange);
  font-weight: bold;
  opacity: 1;
}

.payBtn {
  width: 100%;
  background-color: var(--color-primary-orange);
  color: white;
  border: none;
  padding: 16px;
  margin-top: 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.payBtn:hover {
  background-color: var(--color-primary-orange);
}

input:focus {
  outline-color: var(--color-primary-orange);
}

.eMoneyFields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.eMoneyFields input {
  max-width: 309px;
}

.cod {
  display: flex;
  margin-top: 30px;
  padding-right: 50px;
}

.codImage {
  flex: 30%;
}

@media (max-width: 768px) {
  .checkoutPage {
    max-width: 100%;
    flex-direction: column;
  }

  .GoBackWrapper {
    max-width: 89%;
  }

  .formSection,
  .summarySection {
    max-width: 89%;
    width: 689px;
    margin-inline: auto;
    padding: 15px;
  }
}

@media (max-width: 375px) {
  .billingDivOne,
  .shippingDivTwo {
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
  }

  .formSection {
    width: 92%;
    padding: 16px;
  }

  .formGroup input,
  .radioGroup input,
  .radioGroup label {
    width: 100%;
    max-width: 100%;
  }

  .eMoneyFields {
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
  }

  .cod {
    flex-direction: column;
    padding-right: 0;
  }

  .codImage {
    width: 100%;
    text-align: center;
  }

  .codImage img {
    max-width: 100px;
  }
  .radioFlex {
    flex-direction: column;
  }

  .radioGroup {
    width: 100%;
  }

  input[type="radio"] {
    width: 15px;
  }
}

@media (max-width: 734px) and (min-width: 376px) {
  .formGroup input,
  .radioGroup label {
    width: 100%;
    max-width: 100%;
    flex: 1 1 100%;
  }
  .billingDivOne,
  .shippingDivTwo,
  .eMoneyFields {
    gap: 16px;
  }
}
