.recommendationSection {
  margin-top: 100px;
}

.recommendationSection h2 {
  max-width: 77%;
  margin-inline: auto;
  text-align: center;
}

.recommendationGrid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 64px;
  max-width: 89%;
  margin-inline: auto;
}

.recommendationItem {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.image {
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .recommendationSection {
    margin-bottom: 100px;
  }
  .recommendationSection h2,
  .recommendationGrid {
    max-width: 89%;
    gap: 20px;
  }

  .recommendationItem {
    gap: 20px;
  }
}

@media (max-width: 375px) {
  .recommendationGrid {
    flex-direction: column;
  }
}
